nginx/
ansible/playbooks/script.yml 
ansible/common/files/
ansible/playbooks/.script.yml.swp
ansible/hosts
ansible/playbooks/.script.yml.swp
ansible/playbooks/script.yml
ansible/common/files/testweb.sh
ansible/common/files/id_rsa.pub